$button-border:       rgba(250, 95, 213, 0.5);
$button-border-hover: rgba(250, 95, 213, 0.8);
$button-back:         rgba(250, 95, 213, 0.05);
$button-back-hover:   rgba(250, 95, 213, 0.3);
$button-shadow:        3px 2px rgba(120, 95, 95, 0.7);
$button-shadow-active: 0.5px 0.5px rgba(120, 95, 95, 0.7);
$button-height: 30px;
$example-back: rgba(250, 240, 240, 0.2);

@mixin Button-style{
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: $button-shadow;
  border-color: $button-border;
  background-color: $button-back;
  height: $button-height;
  &:hover{
    transition: 0.3s;
    border-color: $button-border-hover;
    background-color: $button-back-hover;
  }
  &:active{
    box-shadow: $button-shadow-active;
    top: 2.5px;
    left: 1.5px;
  }
}

body{
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
}
header{
  width: 95%;
  margin: 0 auto;
  text-align: center;
  h1{
    font-size: 21px;
  }
}
h2{
  text-align: center;
  margin: 0;
  font-size: 18px;
}
button{
  @include Button-style;
  font-size: 10px;
}

hr{
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul{ list-style: none; }

.container{
  width: 100%;
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.px-auto{
  padding-left: auto;
  padding-right: auto;
}
.bold{ font-weight: bold; }
.color-red{ color: rgb(185, 110, 114); }
.color-yellow{ color: rgb(170, 160, 44); }
.row{
  width: 100%;
  clear: left;
  margin: auto;
}
.f-left{ float: left; }
.f-right{ float: right; }
.c-right{ clear: right; }
.col{ float: left; }
.col-2{
  width: 48%;
  float: left;
}

.w-50p{ width: 48%; }
.w-100p{ width: 100%; }
.w-15{ width: 15px; }
.w-20{ width: 20px; }
.w-40{ width: 40px; }
.w-50{ width: 50px; }
.w-70{ width: 70px; }
.w-100{ width: 100px; }
.w-120{ width: 120px; }
.w-130{ width: 130px; }
.w-150{ width: 150px;}
.w-200{ width: 200px; }
.w-300{ width: 300px; }
.w-400{ width: 400px; }
.w-450{ width: 450px; }
.mw-200{ max-width: 200px; }
.mw-640{ max-width: 640px; }
.ml-2{ margin-left: 20px;}
.mt-1{ margin-top: 10px;}
.mt-2{ margin-top: 20px;}
.mt-3{ margin-top: 30px;}
.mt-4{ margin-top: 40px;}
.mt-5{ margin-top: 50px;}
.mt-5{ margin-top: 50px;}
.mb-2{ margin-bottom: 20px;}
.mb-5{ margin-bottom: 50px;}
.my-1{ margin-top: 10px; margin-bottom: 10px;}
.my-2{ margin-top: 20px; margin-bottom: 20px;}
.my-5{ margin-top: 50px; margin-bottom: 50px;}
.pl-1{ padding-left: 10px;}
.pl-2{ padding-left: 20px;}
.pl-3{ padding-left: 30px;}
.pr-2{ padding-right: 20px;}
.pr-3{ padding-right: 30px;}
.pb-3{ padding-bottom: 30px;}
.pt-1{ padding-top: 10px;}
.pt-2{ padding-top: 20px;}
.pt-4{ padding-top: 40px;}
.pt-5{ padding-top: 50px;}
.py-1{ padding-top: 10px; padding-bottom: 10px;}
.py-2{ padding-top: 20px; padding-bottom: 20px;}
.px-1{ padding-left: 10px; padding-right: 10px;}
.px-2{ padding-left: 20px; padding-right: 20px;}
.px-2{ padding-left: 20px; padding-right: 20px;}
.text-left{ text-align: left; }
.text-right{ text-align: right; }
.text-center{ text-align: center; }
.pos-rel{ position: relative; }
.d-inline{ display: inline-block;}
.d-none{ display: none;}

#Simulate{
  width: 95%;
  margin: 15px auto;
  border: 3px double #f0f;
  display: flex;
  flex-wrap: wrap;
  button{
    height: 50px;
    margin: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 11px;
  }
  table{
    margin: auto;
    border: none;
    thead{
      th{

        background: #fff;
        color: #000;
      }
    }
    th{
      font-weight: normal;
      border-bottom: none;
    }
    td{
      text-align: left;
      border-bottom: none;
    }
  }
}
#About{
  position: relative;
  width: 95%;
  margin: auto;
  font-size: 16px;
  ul{
    text-align: left;
  }
}
.about-content{
  position: relative;
  width: 90%;
  margin: auto;
  .btn-toggle{
    height: 30px;
    width: 120px;
  }
}
.message_box{
  font-size: 90%;
  height: 170px;
  overflow-y: scroll;
  border: 3px #111 double;
  border-radius: 5px;
  ul{
    padding: 0 8px;
  }
}
.updated{
  margin: 24px auto;
  ul{
    li:first-child{
      font-size: 110%;
      font-weight: bold;
    }
  }
}
.range-slider{
  position: relative;
  padding: 5px 15px;
  height: 80px;
  width: 80%;
  input{
    position: relative;
    margin: 5px 10px;
    width: 90%;
  }
  .range-label{
    position: relative;
    top: 10px;
  }
  .range-min{
    position: absolute;
    font-size: 9px;
    left: 40px;
    top: 45px;
  }
  .range-max{
    position: absolute;
    font-size: 9px;
    right: 40px;
    top: 45px;
  }
  .range-textfield{
    position: absolute;
    text-align: right;
    right: -40px;
    top: 10px;
    font-size: 19px;
    width: 40px;
    height: 45px;
  }
}
.input-block{
  position: relative;
  margin: 0 auto;
  padding: 5px 7px;
  text-align: right;
}

.input-field{
  width: 100%;
  label{
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
  }
  input{
    font-size: 120%;
    text-align: right;
    height: 1.8rem;
  }
  button{
    position: relative;
    margin: 8px;
    width: 40px;
    height: 30px;
  }
  .btn-reset{
    width: 60px;
    font-size: 80%;
  }
  .range-slider{
    position: relative;
    top: -8px;
    height: 50px;
    width: 100%;
    margin-top: 0;
    padding: 0 5px;
    input{
      margin-top: 0;
      padding-top: 0;
      width: 90%;
    }
    .range-min{
      left: 20px;
      top: 20px;
    }
    .range-max{
      right: 15px;
      top: 20px;
    }
  }
}
.input-lv{
  span{
  }
}
.input-item{
  text-align: right;
  input{ width: 2.9rem; }
}
.input-juwel{
  input{ width: 4.0rem; }
  button{ width: 52px; }
}
.input-money{
  position: relative;
  max-height: 40px;
  text-align: right;
  input{ width: 6rem; }
}
.example-list{
  position: relative;
  margin: auto;
  width: 80%;
  top: 0px;
  font-size: 90%;
  text-align: left;
  list-style: circle;
  border: 1px solid #000;
  padding: 20px 30px;
  background: $example-back;
}
.hidden-select{
  padding: 3px;
  width: 90px;
  margin: 0 170px 10px 0;

  height: $button-height;
}

.btn-toggle{
  position: relative;
  width: 120px;
  font-size: 80%;
}
.btn-about{
  text-align: right;
  button{
    text-align: center;
    margin-right: 30px;
    width: 90px;
  }

}
.mailform{
  width: 100%;
  textarea{
    display: block;
    resize: vertical;
    margin: 15px auto;
    font-size: 14px;
    width: 85%;
    height: 100px;
    max-height: 400px;
    min-height: 100px;
  }
  .btn-submit{
    @include Button-style;
    font-size: 12px;
    width: 160px;
    height: 37px;
  }
}
