@import 'base.scss';
@import 'table.scss';
@import 'heart.scss';
@import 'transitions.scss';

.vis-se{ display: none; }
.vis-sp{ display: block; }
.vis-tb{ display: none; }
.vis-pc{ display: none; }
@include Heart(150px);

///////あいぽんSE
@media screen and (max-width: 349px){
  .vis-se{ display: block;}
  .vis-sp{ display: none; }

  .input-field{
    button{
      margin: 8px 4px;
      width: 33px;
      height: 30px;
    }
    .btn-reset{
      width: 60px;
      font-size: 80%;
    }
  }

  .table-progbar{
    table{ width: 312px; }
    tbody{
      .progbar{ width: 154px; }
      .progbar-item{ left: 154px; }
    }
  }
}
///////普通のスマホ
@media screen and (min-width: 350px){
  .vis-se{ display: none; }
  .vis-sp{ display: block; }
}
///////タブレット
@media screen and (min-width: 481px){
  .vis-sp{ display: none; }
  .vis-tb{ display: block; }
  #Main{ max-width: 640px; }
  @include Heart(240px);

  body{
    max-width: 760px;
    font-size: 15px;
  }
  header{
    h1{ font-size: 29px; }
  }
  button{ height: 37px; }

  .input-field{
    max-width: 210px;
    margin-top: 20px;
    button{
      margin: 10px 6px;
      width: 48px;
    }
    .btn-reset{
      width: 80px;
      font-size: 80%;
    }
  }

  .table-progbar{
    table{ width: 478px; }
    tbody{
      .progbar{ width: 237px; }
      .progbar-item{ left: 237px; }
    }
  }
  .heart-lv{
    font-size: 84px;
    top: 66px;
  }

  table{
    max-width: 640px;
  }
  .table_example{
    table{ font-size: 90%; }
  }
  .btn-toggle{
    width: 180px;
    font-size: 80%;
  }
}

///////パソコン
@media screen and (min-width: 769px){
  body{
    max-width: 1760px;
  }
  .vis-sp{ display: none; }
  .vis-tb{ display: none; }
  .vis-pc{ display: block; }

  #Contents{
    float: right;
    right: 0;
    width: 70%;
    }
  #Menubar{
    position: fixed;
    overflow-y: scroll;
    max-height: 100vh;
    width: 30%;
    min-width: 250px;
  }
  #Menu{
    width: 95%;
    margin: 15px auto;
    border: 3px double #f0f;
    display: flex;
    flex-wrap: wrap;
  }
  #About{
    width: 70%;
  }
  .about-content{
    width: 80%;
  }

  .input-field{
    margin-top: 0;
    button{
      font-size: 11px;
      margin: 5px;
      width: 37px;
      height: 28px;
    }
    .btn-reset{
      width: 80px;
    }
  }
  .input-money{
    button{ width: 50px; }
  }
  .input-juwel{
    button{ width: 40px; }
  }

}
