@import url('./Heart.scss');
@import url('./Table.scss');
@import url('./Transitions.scss');

$button-border:       rgba(250, 95, 213, 0.5);
$button-border-hover: rgba(250, 95, 213, 0.8);
$button-back:         rgba(250, 95, 213, 0.05);
$button-back-hover:   rgba(250, 95, 213, 0.3);
$button-shadow:        3px 2px rgba(120, 95, 95, 0.7);
$button-shadow-active: 0.5px 0.5px rgba(120, 95, 95, 0.7);

body{
  margin-bottom: 37px;
}

button{
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: $button-shadow;
  border-color: $button-border;
  background-color: $button-back;
  &:hover{
    transition: 0.3s;
    border-color: $button-border-hover;
    background-color: $button-back-hover;
  }
  &:active{
    box-shadow: $button-shadow-active;
    top: 2.5px;
    left: 1.5px;
  }
}
hr{
  width: 450px;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul{ list-style: none; }

#section1{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}


.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.px-auto{
  padding-left: auto;
  padding-right: auto;
}
.bold{ font-weight: bold; }
.color_red{ color: rgb(185, 110, 114); }
.color_yellow{ color: rgb(170, 160, 44); }
.row{ clear: left; }
.col{ float: left; }

.w-100p{ width: 100%; }
.w-15{ width: 15px; }
.w-20{ width: 20px; }
.w-40{ width: 40px; }
.w-50{ width: 50px; }
.w-70{ width: 70px; }
.w-100{ width: 100px; }
.w-120{ width: 120px; }
.w-130{ width: 130px; }
.w-150{ width: 150px; }
.w-200{ width: 200px; }
.w-300{ width: 300px; }
.w-400{ width: 400px; }
.w-450{ width: 450px; }
.mt-1{ margin-top: 10px;}
.mt-2{ margin-top: 20px;}
.mt-4{ margin-top: 40px;}
.mt-5{ margin-top: 50px;}
.pt-1{ padding-top: 10px;}
.pt-2{ padding-top: 20px;}
.pt-4{ padding-top: 40px;}
.pt-5{ padding-top: 50px;}
.py-1{ padding-top: 10px; padding-bottom: 10px;}
.px-1{ padding-left: 10px; padding-right: 10px;}
.px-2{ padding-left: 20px; padding-right: 20px;}
.text-right{ text-align: right; }
.text-center{ text-align: center; }
.pos-rel{ position: relative; }
.d-inline{ display: inline-block;}
.d-none{ display: none;}
.signboard{ text-align: center; }

.message_box{
  height: 170px;
  overflow-y: scroll;
  border: 1px #111 double;
  border-radius: 5px;
  padding: 15px;
}

.input_field{
  padding-top: 20px;
  input{
    font-size: 120%;
    text-align: right;
    height: 1.8rem;
    padding: 4px;
  }
  button{
    position: relative;
    margin: 8px;
    width: 45px;
    height: 30px;
  }
  .btn-reset{
    width: 60px;
  }
}

.input_lv{
  width: 2.3rem;
  margin: 0 10px 7px;
}
.input_item{
  position: relative;
  input{ width: 2.9rem; }
  button{ width: 45px; }
  span{ right: 20px; }
}
.input_juwel{
  position: relative;
  input{ width: 4.0rem; }
  button{ width: 45px; }
  span{ }
}
.input_money{
  position: relative;
  input{ width: 6rem; }
  button{ width: 70px; }
  span{ left: 130px; }
}
.example_list{
  position: relative;
  top: -10px;
  font-size: 90%;
  text-align: left;
  list-style: circle;
  border: 1px solid #000;
  padding: 20px 30px;
  background: #fee;
}

.btn-toggle{
  position: relative;
  margin-top: 15px auto;
  font-size: 80%;
  width: 180px;
  height: 30px;
}
