@import url('./Heart.scss');
@import url('./Table.scss');
@import url('./Transitions.scss');

$button-border:       rgba(250, 95, 213, 0.5);
$button-border-hover: rgba(250, 95, 213, 0.8);
$button-back:         rgba(250, 95, 213, 0.05);
$button-back-hover:   rgba(250, 95, 213, 0.3);
$button-shadow:        3px 2px rgba(120, 95, 95, 0.7);
$button-shadow-active: 0.5px 0.5px rgba(120, 95, 95, 0.7);
$button-height: 30px;
$example-back: rgba(250, 240, 240, 0.5);

.vis-se{ display: none; }
.vis-sm{ display: none; }
.vis-tb{ display: none; }

@media screen and (max-width: 359px){
  .vis-se{
    display: block;
  }
}
@media screen and (min-width: 350px){
  .vis-sm{
    display: block;
  }
  .table-progbar{
    table{ width: 364px; }
    tbody{
      .progbar{ width: 180px; }
      .progbar-item{ left: 180px; }
    }
  }
}
@media screen and (min-width: 481px){
  .vis-sm{ display: none; }
  .vis-tb{
    display: block;
  }
  .table-progbar{
    table{ width: 458px; }
    tbody{
      .progbar{ width: 223px; }
      .progbar-item{ left: 223px; }
    }
  }
}

body{
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  font-size: 13px;
}
header{
  width: 95%;
  margin: 0 auto;
  text-align: center;
  h1{
    font-size: 21px;
  }
}

button{
  font-size: 10px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: $button-shadow;
  border-color: $button-border;
  background-color: $button-back;
  height: $button-height;
  &:hover{
    transition: 0.3s;
    border-color: $button-border-hover;
    background-color: $button-back-hover;
  }
  &:active{
    box-shadow: $button-shadow-active;
    top: 2.5px;
    left: 1.5px;
  }
}
hr{
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul{ list-style: none; }

#section1{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}


.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.px-auto{
  padding-left: auto;
  padding-right: auto;
}
.bold{ font-weight: bold; }
.color-red{ color: rgb(185, 110, 114); }
.color-yellow{ color: rgb(170, 160, 44); }
.row{
  width: 100%;
  clear: left;
  margin: auto;
}
.col{ float: left; }
.col-2{

  width: 48%;
  float: left;

}

.w-50p{ width: 48%; }
.w-100p{ width: 100%; }
.w-15{ width: 15px; }
.w-20{ width: 20px; }
.w-40{ width: 40px; }
.w-50{ width: 50px; }
.w-70{ width: 70px; }
.w-100{ width: 100px; }
.w-120{ width: 120px; }
.w-130{ width: 130px; }
.w-150{ width: 150px;}
.w-200{ width: 200px; }
.w-300{ width: 300px; }
.w-400{ width: 400px; }
.w-450{ width: 450px; }
.ml-2{ margin-left: 20px;}
.mt-1{ margin-top: 10px;}
.mt-2{ margin-top: 20px;}
.mt-3{ margin-top: 30px;}
.mt-4{ margin-top: 40px;}
.mt-5{ margin-top: 50px;}
.mt-5{ margin-top: 50px;}
.mb-2{ margin-bottom: 20px;}
.mb-5{ margin-bottom: 50px;}
.my-1{ margin-top: 10px; margin-bottom: 10px;}
.my-2{ margin-top: 20px; margin-bottom: 20px;}
.my-5{ margin-top: 50px; margin-bottom: 50px;}
.pl-1{ padding-left: 10px;}
.pl-2{ padding-left: 20px;}
.pl-3{ padding-left: 30px;}
.pr-3{ padding-right: 30px;}
.pt-1{ padding-top: 10px;}
.pt-2{ padding-top: 20px;}
.pt-4{ padding-top: 40px;}
.pt-5{ padding-top: 50px;}
.py-1{ padding-top: 10px; padding-bottom: 10px;}
.py-2{ padding-top: 20px; padding-bottom: 20px;}
.px-1{ padding-left: 10px; padding-right: 10px;}
.px-2{ padding-left: 20px; padding-right: 20px;}
.px-2{ padding-left: 20px; padding-right: 20px;}
.text-left{ text-align: left; }
.text-right{ text-align: right; }
.text-center{ text-align: center; }
.pos-rel{ position: relative; }
.d-inline{ display: inline-block;}
.d-none{ display: none;}


.message_box{
  font-size: 90%;
  height: 170px;
  overflow-y: scroll;
  border: 3px #111 double;
  border-radius: 5px;
  ul{
    padding: 0 8px;
  }
}
.updated{
  ul{
    li:first-child{
      font-size: 110%;
      font-weight: bold;
    }
  }
}
.input_field{
  padding-top: 20px;
  input{
    font-size: 120%;
    text-align: right;
    height: 1.8rem;
  }
  button{
    position: relative;
    margin: 8px 4px;
    width: 37px;
    height: 30px;
  }
  .btn-reset{
    width: 60px;
    font-size: 80%;
  }
}

.input_lv{
  width: 2.3rem;
  margin: 0 4px 7px;
}
.input_item{
  position: relative;
  input{ width: 2.9rem; }
  button{ width: 45px; }
  span{ right: 20px; }
}
.input_juwel{
  position: relative;
  input{ width: 4.0rem; }
  button{ width: 45px; }
  span{ }
}
.input_money{
  position: relative;
  input{ width: 6rem; }
  button{ width: 70px; }
  span{ left: 130px; }
}
.example-list{
  position: relative;
  margin: auto;
  width: 80%;
  top: 0px;
  font-size: 90%;
  text-align: left;
  list-style: circle;
  border: 1px solid #000;
  padding: 20px 30px;
  background: $example-back;
}
.hidden-select{
  padding: 3px;
  width: 90px;
  margin-right: 170px;
  height: $button-height;
}

.btn-toggle{
  position: relative;
  width: 120px;
  font-size: 80%;
}
.btn-about{
  width: 90px;
}
.mailform{
  width: 100%;

  textarea{
    display: block;
    resize: vertical;
    margin: 15px auto;
    font-size: 14px;
    width: 85%;
    height: 100px;
    max-height: 400px;
    min-height: 100px;
  }
  .btn-submit{
    display: block;
    font-size: 10px;
    outline: none;
    cursor: pointer;
    width: 100px;
    margin: 10px auto;
    border-radius: 4px;
    box-shadow: $button-shadow;
    border-color: $button-border;
    background-color: $button-back;
    height: $button-height;
    &:hover{
      transition: 0.3s;
      border-color: $button-border-hover;
      background-color: $button-back-hover;
    }
    &:active{
      box-shadow: $button-shadow-active;
      top: 2.5px;
      left: 1.5px;
    }
  }
}
