$heart-inback: rgb(45, 45, 45);
$heart-bar: rgb(255, 109, 144);
$hover-button: rgba(144, 109, 255, 0.3);


#section1{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.row{
  clear: left;
}
.col{
  float: left;
}
.w-150{ width: 150px; }
.w-200{ width: 200px; }
.w-450{ width: 450px; }

.text-right{ text-align: right; }
.text-center{ text-align: center; }
.pos-rel{ position: relative; }
.signboard{ text-align: center; }

.message_box{
  width: 560px;
  height: 170px;
  overflow-y: scroll;
  border: 1px #111 double;
  border-radius: 5px;
  padding: 15px;
  margin: 20px;
  ul{
    list-style: none;
  }
}

.inputs{
  display: block;
  float: left;
  margin: 20px;
  margin-bottom: 50px;
  padding: 20px;
  border: 1px #111 solid;
}
.heart{
  clear: left;
  position: relative;
  z-index: 20;
}

.heart_out{
  position: relative;
  z-index: 30;
  width: 200px;
  height: 200px;
}
.heart_lovep{
  position: absolute;
  z-index: 40;
  font-size: 140%;
  top: -5px;
  text-align: center;
}
.heart_lv{
  position: absolute;
  z-index: 40;
  font-size: 65px;
  text-align: center;
  width: 200px;
  top: 55px;
  color: #fefefd;
}

.heart_bar{
  position: absolute;
  z-index: 10;
  background-color: $heart-bar;
  width: 200px;
}
.heart_back{
  position: absolute;
  width: 200px;
  z-index: 5;
  background: $heart-inback;
}

.lovelv{
  display: block;
  float: left;
  margin: 20px;
  text-align: center;
  width: 200px;
  border: 2px #111 solid;
  background-color: #fde;
}

.input_field{
  padding-top: 20px;
  input{
    font-size: 120%;
    text-align: right;
    height: 1.8rem;
    padding: 4px;
  }
  button{
    position: relative;
    margin: 8px;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    box-shadow: 3px 2px #555;
    &:hover{
      transition: 0.3s;
      font-size: 80%;
      border-color: $hover-button;
      background-color: $hover-button;
    }
    &:active{
      box-shadow:none;
      top: 3px;
      left: 2px;
    }
  }
  .btn-reset{
    border-color: #f55;
  }
}

.input_lv{
  width: 2.3rem;
  margin: 0 10px 7px;
}
.input_item{
  position: relative;
  input{
    width: 2.9rem;
  }
  button{
    width: 45px;
  }
  span{
    right: 20px;
  }
}
.input_juwel{
  position: relative;

  input{
    width: 4.0rem;
  }
  button{
    width: 45px;
  }
  span{
  }
}
.input_money{
  position: relative;
  input{
    width: 6rem;
  }
  button{
    width: 70px;
  }
  span{
    left: 130px;
  }
}

.table_lv{
  clear: left;
  margin: 50px 20px;

  table{
    width: 454px;
    border: 2px #111 solid;
    border-collapse:  collapse;
  }
  thead{
    td{
      text-align: center;
      padding: 5px 10px;
      border-bottom: 1px #111 solid;
    }
  }

  tbody{
    .progbar{
      position: absolute;
      z-index: 0;
      left: 0;
      top: 6px;
      background: rgba( 240, 200, 220, 0.5);
      height: 37px;
    }
    .progbar_i{
      position: absolute;
      z-index: 0;
      left: 150;
      top: 6px;
      background: rgba( 250, 250, 210, 1);
      height: 37px;
    }
    th{
      position: relative;
      border-bottom: 1px #111 solid;
    }
    td{
      position: relative;
      padding: 15px 10px;
      border-bottom: 1px #111 solid;
      }
  }
  .goal_lv{
    position: relative;
    z-index: 10;
  }
  .column_lv{
    font-size: 150%;
  }
  .column_exp{
    padding-right: 20px;
    text-align: right;
  }
}

.table_money{
  margin: 50px 20px;

  table{
    width: 454px;
    border: 2px #111 solid;
    border-collapse:  collapse;
  }
  thead{
    td{
      text-align: center;
      padding: 5px 10px;
      border-bottom: 1px #111 solid;
    }
  }
  tbody{
    th{
      border-bottom: 1px #111 solid;
    }
    td{
      padding: 15px 10px;
      border-bottom: 1px #111 solid;
      }
  }
  .item_name{
    font-size: 120%;

  }
  .column_stock{
    text-align: right;
  }
  .column_exp{
    padding-right: 20px;
    text-align: right;
  }
}
#Level{
  position: relative;
}
#Items{
  position: relative;
}
#Itemm{
  position: relative;
}

#Iteml{
  position: relative;
}
#Juwelend{
  position: relative;
}
#Juwelall{
  position: relative;
}
#Money{
  position: relative;

}
.changed_value{
  position: absolute;
  top: -50px;
  right: 0px;
  color: #111;
  padding: 3pc 10px 5px;
}

.changed_value-enter{
  opacity: 1;
}
.changed_value-enter-active{
  transition: all 1.2s ease-in-out;
  top: -70px;
  opacity: 0;
}
.changed_value-enter-done{
  display: none;
  opacity: 0;
}

.btn-toggle{
  margin-top: 15px auto;
  width: 200px;
  height: 45px;
}

.door{
  display: block;
  border: 1px solid #111;
  color: #111;
  padding: 3pc 10px 5px;
}

.door-enter{
  #Money{
    height: 0px;
  }
}
.door-enter-active{

  #Money{
    transition: all 0.5s ease-in-out;
    height: 80px;
  }
}
.door-enter-done{
  #Money{
    height: 80px;
  }
}

.door-exit{
  #Money{
    height: 80px;
  }
}
.door-exit-active{
  #Money{
    transition: all 0.5s ease-in-out;
    height: 0px;
  }
}
.door-exit-done{
  #Money{
    height: 0px;
  }
}
