$heart-size: 200px;
$heart-inback: rgb(45, 45, 45);
$heart-bar: rgb(255, 109, 144);
$heart-label-shadow: rgba(255, 222, 222, 0.4);
$heart_grad: repeating-linear-gradient(135deg,
  #E869DB,
  #ED92C5 2.4%,
  #E869DB 2.5%,
  #ED92C5 2.5%,
  #E869DB 5% );



.heart{
  clear: left;
  position: relative;
  z-index: 20;
}

.heart_out{
  position: relative;
  z-index: 30;
  width: $heart-size;
  height: $heart-size;
}

.heart_label{
  position: absolute;
  z-index: 40;
  font-size: 140%;
  top: -5px;
  width: $heart-size;
  text-align: center;
  font-weight: bold;
  text-shadow: 2px 2px $heart-label-shadow;
}

.heart_lv{
  position: absolute;
  z-index: 40;
  font-size: 75px;
  text-shadow: 1px 1px 1px $heart-bar,
               -1px 1px 1px $heart-bar,
               1px -1px 1px $heart-bar,
               -1px -1px 1px $heart-bar;
  text-align: center;
  width: $heart-size;
  top: 50px;
  color: #fefefd;
}

.heart_bar{
  position: absolute;
  z-index: 10;
  background: $heart_grad;
  width: $heart-size;
}

.heart_back{
  position: absolute;
  width: $heart-size;
  z-index: 5;
  background: $heart_inback;
}

.heart_with_item{
  .heart_label{
    width: 280px;
    text-align: left;
  }
}
