$table-outborder: 2px solid #111;
$table-inborder: 1px solid #111;
$table-check: #faf0f0 ;
$progbar-red: rgba( 240, 200, 220, 0.5);
$progbar-yellow: rgba( 250, 250, 210, 1);

table{
  width: 97%;
  max-width: 450px;
  margin: auto;
  border: $table-outborder;
  border-collapse:  collapse;
}
thead{
  td{
    text-align: center;
    padding: 5px 10px;
    border-bottom: $table-inborder;
  }
  tr:first-child{
    background: rgba(255, 109, 144, 0.8);
    color: #fefefd;
    font-size: 110%;
    font-weight: bold;
  }
}
tbody{
  th{
    border-bottom: $table-inborder;
  }
  td{
    padding: 10px 10px;
    border-bottom: $table-inborder;
  }
}

.table_example{
  table{
    font-size: 85%;
    text-align: right;
    thead{ font-size: 120%; }
    tr:nth-child(even){ background: $table-check; }
  }
}

.table_lv{
  table{ width: 316px; }
  tbody{
    .progbar{
      position: absolute;
      overflow: hidden;
      z-index: 0;
      width: 156px;
      top: 6px;
      height: 37px;
    }
    .progbar_lv{
      left: 0;
      background: $progbar-red;
    }
    .progbar_item{
      left: 156px;
      background: $progbar-yellow;
    }
    td{
      position: relative;
      padding: 15px 10px;
    }
  }
  .goal_lv{
    position: relative;
    z-index: 10;
  }
  .column_lv{
    position: relative;
    font-size: 150%;
  }
  .column_exp{
    padding-right: 20px;
    text-align: right;
  }
  .graph_text{
    position: relative;
    z-index: 10;
    top: -2px;
    text-align: center;
    font-weight: bold;
    font-size: 85%;
    text-shadow: 1px 2px #ddd;
  }
}

.table_money{
  tr{ height: 10px; }
  .item_name{ font-size: 120%; }
  .table_input{
    font-size: 120%;
    text-align: right;
    height: 1.8rem;
    width: 100px;
    padding: 4px;
  }
}
