// changed_value /////
.changed_value{
  position: absolute;
  top: -50px;
  right: 0px;
  color: #111;
  padding: 3pc 10px 5px;
}

.changed_value-enter{
  opacity: 1;
}
.changed_value-enter-active{
  transition: all 1.2s ease-in-out;
  top: -70px;
  opacity: 0;
}
.changed_value-enter-done{
  display: none;
  opacity: 0;
}

// door /////
.door{
  display: block;
  color: #111;
  max-height: 0px;
  overflow: hidden;
}

.door-enter{
  max-height: 0px;
}
.door-enter-active{
  transition: all 0.5s ease-in-out;
  max-height: 300px;
}
.door-enter-done{
  max-height: 300px;
  overflow: hidden;
}

.door-exit{
  max-height: 300px;
}
.door-exit-active{
  transition: all 0.5s ease-in-out;
  max-height: 0px;
}
.door-exit-done{
  max-height: 0px;
  overflow: hidden;
}


// sidedoor /////
#About{
  display: none;
  position: absolute;
  width: 450px;
  font-size: 90%;
  ul{
    list-style: circle;
  }
}
#Main{
  display: block;
  position: absolute;
  width: 450px;
}

.sidedoor{
}
.sidedoor-enter{
  #Main{ transform: rotateY(0deg) }
  #About{ transform: rotateY(-90deg);
  display: block;
  }
}
.sidedoor-enter-active{
  #Main{
    transition: all 0.5s ease-in;
    transform: rotateY(90deg)
  }
  #About{
    transition: all 0.5s ease-out 0.5s;
    transform: rotateY(0deg)
  }
}
.sidedoor-enter-done{
  #Main{ display: none; }
  #About{ display: block; }
}

.sidedoor-exit{
  #Main{
    transform: rotateY(90deg);
    display: block;
  }
  #About{
    transform: rotateY(0deg);
    display: block;
  }
}
.sidedoor-exit-active{
  #Main{
    transition: all 0.5s ease-out 0.5s;
    transform: rotateY(0deg)
  }
  #About{
    transition: all 0.5s ease-in;
    transform: rotateY(-90deg)
  }
}
.sidedoor-exit-done{
  #Main{ display: block; }
  #About{ display: none; }
}
